body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

div.contenido{
    display: grid;
    height: 50vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}